:root {
  --headline-color: #52796f;
  --body-copy-color: #2f3e46;
  --bkgrnd-color: #cad2c5;
  --accent-color: #84a98c;
  --secondary-accent-color: #354f52;
  --shadow: 4px 4px 4px #222222;
}

h1 {
  color: var(--headline-color);
  font-family: "DM Serif Display", serif;
}

h2 {
  color: var(--secondary-accent-color);
  font-family: "Nunito Sans", sans-serif;
}

p {
  color: var(--body-copy-color);
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--bkgrnd-color);
}

/* Custom Navbar Colors */
.navbar-custom {
  background-color: var(--accent-color: #84a98c);
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: var(
    --body-copy-color: #2f3e46
  ); /* Replace with your desired text color */
}

/* .navbar-custom 
.navbar-toggler-icon {
    background-color: #ffffff;}  /* Replace with your desired color for the toggler icon  */

/*.navbar-custom 
.navbar-toggler {
border-color: #ffffff;} /* Replace with your desired border color for the toggler button */
