:root {
  --headline-color: #52796f;
  --body-copy-color: #2f3e46;
  --bkgrnd-color: #cad2c5;
  --accent-color: #84a98c;
  --secondary-accent-color: #354f52;
  --shadow: 4px 4px 4px #222222;
}

h1 {
  color: var(--headline-color) !important;
  font-family: "DM Serif Display", serif !important;
}
.hero-text {
  margin-top: 40px !important;
}

h2 {
  color: var(--secondary-accent-color) !important;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 24px !important;
}

p {
  color: var(--body-copy-color) !important;
  font-family: "Nunito Sans", sans-serif !important;
}

body {
  background-color: var(--bkgrnd-color) !important;
}

footer {
  background: var(--accent-color);
  padding: 40px 0 30px 0;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.btn-custom-2 {
  border-radius: 10px;
  border: 1px var(--accent-color) solid;
  background: var(--accent-color);
  padding: 6px 22px;
  color: var(--body-copy-color);
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif !important;
  float: left;
  margin: 2px 0 10px 0;
}

.card,
.card-text {
  background-color: var(--headline-color) !important;
  color: var(--bkgrnd-color) !important;
}
.card-title {
  font-family: "DM Serif Display", serif;
  text-align: left;
}

.card-text {
  font-family: "Nunito Sans", sans-serif !important;
  text-align: left;
}

.feature-projects {
  display: flex;
  justify-content: center;
}

.feature {
  background-color: var(--secondary-accent-color) !important;
}

.feature-text h1 {
  color: var(--accent-color) !important;
}
.feature-text h2,
.feature-text p {
  color: var(--bkgrnd-color) !important;
}

.btn-custom {
  border-radius: 10px;
  border: 1px var(--bkgrnd-color) solid;
  background: var(--bkgrnd-color);
  padding: 6px 12px;
  color: var(--body-copy-color);
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif !important;
  float: left;
  margin: 2px 0 10px 0;
}

label {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 18px;
  padding: 4px 0;
}
/* Custom Navbar Colors */
.navbar-custom {
  background-color: var(--accent-color);
}

.navbar-brand {
  font-family: "DM Serif Display", serif !important;
  color: var(--body-copy-color) !important;
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--body-copy-color) !important;
  font-family: "Nunito Sans", sans-serif !important; /* Replace with your desired text color */
}

/* .navbar-custom 
.navbar-toggler-icon {
    background-color: #ffffff;}  /* Replace with your desired color for the toggler icon  */

/*.navbar-custom 
.navbar-toggler {
border-color: #ffffff;} /* Replace with your desired border color for the toggler button */
